.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 85vh;
}
.text {
  font-size: 14px;
  padding: 25px 0px 15px 0px;
}

::placeholder {
  font-style: italic;
}

.input {
  padding: 10px 8px;
  border: 2px solid #23cf51;
  border-radius: 7px;
}
